extends ../layout

block content
  h1 Albums
    table
      thead
        tr
          th ID
          th Name
      tbody
        for album in allAlbums
          tr
            td= album.id
            td
              a(href='/albums/' + album.id)= album.name

  a(href="/albums/new") New Album
